.card__product-container{
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc9;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    padding: 20px 20px 40px;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 10px;
}
.card__product__title{
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family:Cambria;
    color:rgb(30, 6, 65) ;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: auto;
    /* grid-column: span 1; */
}
.card__product_quantity{
    font-weight: 400;
    color: gray;
    margin-bottom: 0;
    margin-top: 20px;
    align-content: center;
    text-align: center;
    /* grid-column: span 2; */
}
.card__product_price{
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-top: 20px;
    align-content: center;
    text-align: center;
    /* grid-column: span 2; */
}

.card__btn{
    margin-top: 20px;
    align-content: center;
    text-align: center;
}
.cart-p__btn{
    cursor: pointer;
    background-color: var(--bg-color-red);
    color: white;
    font-size: 20px;
    padding: 4px;
    border-radius: 50%;
    width: 30px;

  
    /* grid-column: span 2; */
}
.cart-p__btn:hover{
    filter: brightness(1.2);
}